:root {
  --rainbow-gradient: linear-gradient(-90deg,#adfbda 0,#35c3ff 30%,#fda399 50%,#76d880 70%,#ebf38b 90%,#adfbda 100%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(174, 233, 243);
  color: #312b2b;
  /* background-image: var(--rainbow-gradient); */
}

.app {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
}

.score-wrapper .title {
  margin: 20px;
}

.score {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

canvas {
  border: 2px solid #ccc;
  background-color: rgb(236, 238, 210);
  filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.3));
}

.instruction {
  margin-top: 30px;
}